<table class="table table-sm table-hover" id="eventTable" data-page-length='10'>
    <thead>
    <tr>
        <th>Anlass</th>
        <th>Datum</th>
        <th>Uhrzeit</th>
        <th>Ort</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each events}}
        <tr>
            <td>{{name}}</td>
            <td>{{datum}}</td>
            <td>{{von}} - {{bis}}</td>
            <td>{{ort}}</td>
            <td>
                <a href="javascript:void(0);" class="btn editEvent btn-primary btn-sm" data-toggle="modal" data-target="#editEventModal" data-eventId="{{id}}">
                    <i class="fas fa-edit"></i>
                </a>
                <button type="button" class="deleteEvent btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteConfirmationEventModal" data-eventId="{{id}}">
                    <i class="fas fa-trash"></i>
                </button>
                <a href="/events/{{id}}" class="btn btn-outline-primary btn-sm mr-1">Details</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
