<div class="row">
    <div class="col-xl-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Team Mitglieder</h6>
            </div>
            <div class="card-body">
                <table class="table table-sm table-hover" id="group_detailTable" data-page-length='15'>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Adresse</th>
                        <th>Stadt</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each groups}}
                        <tr>
                            <td>{{Name}} {{Vorname}}</td>
                            <td>{{Adresse}}</td>
                            <td>{{PLZ}} {{Ort}}</td>
                            <td>
                                <a href="mailto:some@email.com" target="_blank" class="btn btn-outline-primary btn-sm">E-Mail</a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
