<table class="table table-sm table-hover" id="memberTable" data-page-length='5'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Adresse</th>
        <th>Stadt</th>
        <th>Betrag</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each members}}
        <tr>
            <td>{{ mitglied.name }} {{ mitglied.vorname }}</td>
            <td>{{ mitglied.strasse }}</td>
            <td>{{ mitglied.plz }} {{ mitglied.ort }}</td>
            <td>{{ mitgliederbeitrag }} CHF</td>
            <td>
                <a href="javascript:void(0);" class="btn setPaymentstatus btn-success btn-sm" data-memberId="{{mitglied.id}}">
                    <i class="fas fa-check"></i>
                </a>
                <a href="mailto:{{mitglied.email}}" class="btn btn-outline-primary btn-sm">E-Mail</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
