<table class="table table-sm table-hover" id="membersWithAddressTable"  data-page-length='10'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Adresse</th>
        <th>Stadt</th>
    </tr>
    </thead>
    <tbody>
    {{#each members}}
        <tr>
            <td>{{ name }} {{ vorname }}</td>
            <td>{{ strasse }}  </td>
            <td>{{ plz }} {{ ort }}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
