<table class="table table-sm table-hover" id="membersWithAddressTable"  data-page-length='10'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Adresse</th>
        <th>Stadt</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each members}}
        <tr>
            <td>{{ name }} {{ vorname }}</td>
            <td>{{ strasse }}  </td>
            <td>{{ plz }} {{ ort }}</td>
            <td>
                <a href="javascript:void(0);" class="editMember btn-primary btn-sm m-sm-1" data-toggle="modal" data-target="#editMemberModal" data-memberId="{{id}}">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="javascript:void(0);" class="deleteMember btn-danger btn-sm" data-memberId="{{id}}">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
