<table class="table table-sm table-hover" id="membersWithAdressTable"  data-page-length='10'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Adresse</th>
        <th>Stadt</th>
    </tr>
    </thead>
    <tbody>
    {{#each members}}
        <tr>
            <td>{{ Name }} {{ Vorname }}</td>
            <td>{{ Adresse }}  </td>
            <td>{{ PLZ }} {{ Ort }}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
